/*!
Template :	ICO Crypto @by Softnio
Preset   :	Default
Version	 :	1.0.0
Updated	 :	03.02.2018
*/
h1.color-secondary,
h2.color-secondary,
h3.color-secondary,
h4.color-secondary,
h5.color-secondary,
h6.color-secondary,
.h1.color-secondary,
.h2.color-secondary,
.h3.color-secondary,
.h4.color-secondary,
.h5.color-secondary,
.h6.color-secondary {
    color: #7a0fff;
}

h1.color-primary,
h2.color-primary,
h3.color-primary,
h4.color-primary,
h5.color-primary,
h6.color-primary,
.h1.color-primary,
.h2.color-primary,
.h3.color-primary,
.h4.color-primary,
.h5.color-primary,
.h6.color-primary {
    color: #46bdf4;
}

.theme-light h1.color-secondary,
.theme-light h2.color-secondary,
.theme-light h3.color-secondary,
.theme-light h4.color-secondary,
.theme-light h5.color-secondary,
.theme-light h6.color-secondary,
.theme-light .h1.color-secondary,
.theme-light .h2.color-secondary,
.theme-light .h3.color-secondary,
.theme-light .h4.color-secondary,
.theme-light .h5.color-secondary,
.theme-light .h6.color-secondary {
    color: #7a0fff;
}

.theme-light h1.color-primary,
.theme-light h2.color-primary,
.theme-light h3.color-primary,
.theme-light h4.color-primary,
.theme-light h5.color-primary,
.theme-light h6.color-primary,
.theme-light .h1.color-primary,
.theme-light .h2.color-primary,
.theme-light .h3.color-primary,
.theme-light .h4.color-primary,
.theme-light .h5.color-primary,
.theme-light .h6.color-primary {
    color: #46bdf4;
}

h1.color-secondary,
h2.color-secondary,
h3.color-secondary,
h4.color-secondary,
h5.color-secondary,
h6.color-secondary,
.h1.color-secondary,
.h2.color-secondary,
.h3.color-secondary,
.h4.color-secondary,
.h5.color-secondary,
.h6.color-secondary,
p.color-secondary {
    color: #20ffa2;
}

h1.color-primary,
h2.color-primary,
h3.color-primary,
h4.color-primary,
h5.color-primary,
h6.color-primary,
.h1.color-primary,
.h2.color-primary,
.h3.color-primary,
.h4.color-primary,
.h5.color-primary,
.h6.color-primary,
p.color-primary {
    color: #46bdf4;
}

h1.color-alt-primary,
h2.color-alt-primary,
h3.color-alt-primary,
h4.color-alt-primary,
h5.color-alt-primary,
h6.color-alt-primary,
.h1.color-alt-primary,
.h2.color-alt-primary,
.h3.color-alt-primary,
.h4.color-alt-primary,
.h5.color-alt-primary,
.h6.color-alt-primary,
p.color-alt-primary {
    color: #2b56f5;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
p span,
.navbar .navbar-nav:not(.navbar-btns)>li>a:hover,
.navbar .navbar-nav:not(.navbar-btns) .sub-menu li>a:hover,
.widget-area .sidebar-widget ul li a:hover,
.widget-area .sidebar-widget.widget_tag_cloud ul li a:hover,
.post-content .blog-tags li a:hover,
.blog-meta li a:hover,
.theme-light .blog-meta li a:hover,
.blog-texts .blog-title a:hover,
.btn.btn-more {
    color: #46bdf4;
}

a {
    color: #46bdf4;
}

a:hover,
a:focus,
a:active {
    color: #7a0fff;
}

.theme-dark h1.color-secondary,
.theme-dark h2.color-secondary,
.theme-dark h3.color-secondary,
.theme-dark h4.color-secondary,
.theme-dark h5.color-secondary,
.theme-dark h6.color-secondary,
.theme-dark blockquote.color-secondary,
.light h1.color-secondary,
.light h2.color-secondary,
.light h3.color-secondary,
.light h4.color-secondary,
.light h5.color-secondary,
.light h6.color-secondary,
.light blockquote.color-secondary {
    color: #7a0fff;
}

.theme-dark h1.color-primary,
.theme-dark h2.color-primary,
.theme-dark h3.color-primary,
.theme-dark h4.color-primary,
.theme-dark h5.color-primary,
.theme-dark h6.color-primary,
.theme-dark blockquote.color-primary,
.light h1.color-primary,
.light h2.color-primary,
.light h3.color-primary,
.light h4.color-primary,
.light h5.color-primary,
.light h6.color-primary,
.light blockquote.color-primary {
    color: #46bdf4;
}

.theme-dark h1.color-alt-primary,
.theme-dark h2.color-alt-primary,
.theme-dark h3.color-alt-primary,
.theme-dark h4.color-alt-primary,
.theme-dark h5.color-alt-primary,
.theme-dark h6.color-alt-primary,
.theme-dark blockquote.color-alt-primary,
.light h1.color-alt-primary,
.light h2.color-alt-primary,
.light h3.color-alt-primary,
.light h4.color-alt-primary,
.light h5.color-alt-primary,
.light h6.color-alt-primary,
.light blockquote.color-alt-primary {
    color: #2b56f5;
}

.color-primary {
    color: #46bdf4;
}

.color-secondary {
    color: #7a0fff;
}

.bg-primary {
    background: #46bdf4;
}

.bg-secondary {
    background: #7a0fff;
}

.bg-light-primary,
.search-form button {
    background-color: rgba(170, 170, 170, 0.1);
}

.search-form button:hover {
    background-color: rgba(170, 170, 170, 0.3);
}

.search-form input[type="text"] {
    border-color: rgba(170, 170, 170, 0.1);
}

.select2-container--default .select2-selection--single {
    background-color: rgba(170, 170, 170, 0.1);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(170, 170, 170, 0.2);
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: rgba(170, 170, 170, 0.3);
}

.theme-light .select2-dropdown {
    background: #eee;
}

.theme-light .select2-container--default .select2-selection--single {
    background-color: rgba(170, 170, 170, 0.1);
}

.theme-light .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(170, 170, 170, 0.2);
}

.theme-light .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: rgba(170, 170, 170, 0.3);
}

.bg-light-secondary {
    background-color: rgba(122, 15, 255, 0.1);
}

.tab-custom .nav-tabs li>a:hover {
    color: #46bdf4;
}

.tab-custom .nav-tabs li>a.active,
.tab-custom .nav-tabs li>a.active:hover,
.tab-custom .nav-tabs li>a.active:focus,
.tab-custom .nav-tabs li>a.active:hover,
.tab-custom .nav-tabs li>a.active:focus,
.wpb-js-composer div.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs-position-top .vc_tta-tab.vc_active>a,
.wpb-js-composer div.vc_tta-tabs:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top .vc_tta-tab.vc_active>a {
    border-bottom-color: #46bdf4;
}

.theme-dark .tab-custom .nav-tabs li>a:hover,
.vc_toggle_size_md.vc_toggle_arrow .vc_toggle_icon,
.wpb-js-composer div.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs-position-top .vc_tta-tab:not(.vc_active)>a:hover {
    color: #46bdf4;
}

.theme-light .tab-custom .nav-tabs li>a:hover,
.comment-time,
.theme-light .ml-auto a:hover,
p.logged-in-as {
    color: #46bdf4;
}

.pagination li.active a {
    background: #46bdf4;
    border-color: #46bdf4;
}

.pagination li a {
    color: #46bdf4;
}

.pagination li a:hover,
.pagination li a:focus {
    color: #fff;
    background: #46bdf4;
    border-color: #46bdf4;
}

.navbar .navbar-nav>li>a.nav-link.active {
    color: #46bdf4;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #46bdf4;
}

.navbar .navbar-nav .dropdown-menu li:hover>a {
    color: #46bdf4;
}

.navbar .navbar-nav .dropdown-menu li:hover.has-children:after {
    border-left-color: #46bdf4;
}

.navbar .navbar-nav .dropdown-menu.active>a,
.navbar .navbar-nav .dropdown-menu li>a:hover,
.navbar .navbar-nav .dropdown-menu li>a:focus {
    color: #46bdf4;
}

.navbar .navbar-nav .dropdown-menu>.active>a,
.navbar .navbar-nav .dropdown-menu>.active>a:focus,
.navbar .navbar-nav .dropdown-menu>.active>a:hover {
    color: #46bdf4;
}

.theme-dark .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.theme-dark .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.theme-dark .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #46bdf4;
}

.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #46bdf4;
}

.li .theme-dark .site-header .navbar-nav:hover a {
    color: #46bdf4;
}

.theme-light .navbar-nav>li:hover>a {
    color: #46bdf4;
}

.navbar-toggler {
    background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.navbar-toggler:hover {
    background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.btn {
    background-image: -webkit-linear-gradient(left, #ff0008 0%,#ff0008 100%);
    background-image: linear-gradient(to right, #ff0008    0%, #ff0008  100%);
}

.btn:before {
    background-image: -webkit-linear-gradient(left, #fe0008  0%, #fe0008  100%);
    background-image: linear-gradient(to right, #fe0008   0%, #fe0008   100%);
}

.btn.btn-alt,
.io-azure .countdown-box .btn.btn-alt {
    background-image: -webkit-linear-gradient(left, #da75d1 0%, #da75d1 100%);
    background-image: linear-gradient(to right, #fe0008  0%, #fe0008  100%);
}

.btn.btn-alt:before,
.io-azure .countdown-box .btn.btn-alt:before {
    background-image: -webkit-linear-gradient(left, #7a0fff 0%, #7a0fff 100%);
    background-image: linear-gradient(to right, #7a0fff 0%, #7a0fff 100%);
}

.btn.btn-plane {
    background: #7a0fff;
}

.play-btn .play {
    background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.play-btn .play>span {
    background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.play-btn>span:last-of-type {
    color: #1ad68b;
}

.play-btn-alt .fa {
    background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.text-block ul:not(.btns) li:before {
    background: #46bdf4;
}

.section-head .section-title span,
.section-head .section-title:before {
    color: #da75d1 ;
    opacity: 0.3;
}

.heading-animation {
    border-top-color: #2b56f5;
    border-left-color: #2b56f5;
}

.heading-animation:before {
    border-top-color: #2b56f5;
    border-lef-color: #2b56f5;
}

.heading-animation:after {
    border-top-color: #2b56f5;
    border-left-color: #2b56f5;
}

.heading-animation span:first-of-type {
    border-top-color: #2b56f5;
    border-left-color: #2b56f5;
}

.heading-animation span:first-of-type:before {
    border-top-color: #2b56f5;
    border-left-color: #2b56f5;
}

.heading-animation span:first-of-type:after {
    border-top-color: #2b56f5;
    border-left-color: #2b56f5;
}

.heading-animation span:last-of-type {
    border-top-color: #2b56f5;
    border-left-color: #2b56f5;
}

.heading-animation span:last-of-type:before {
    border-top-color: #2b56f5;
    border-left-color: #2b56f5;
}

.heading-animation span:last-of-type:after {
    border-top-color: #2b56f5;
    border-left-color: #2b56f5;
}

.section-connect:before {
    background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.event-info:before,
.event-info .event-single-info:before {
    background: #46bdf4;
}

.io-azure .countdown-box {
    background-image: -webkit-linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
    background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.io-azure .countdown-box .btn.btn-alt {
    background-image: linear-gradient(to right, #340075 0%, #0d9ee0 100%);
}

.io-azure .countdown-box .btn.btn-alt:before {
    background-image: linear-gradient(to right, #0d9ee0 0%, #340075 100%);
}

.countdown-box .token-countdown .countdown-text {
    color: #46bdf4;
}

.countdown-box.countdown-header:after,
.countdown-box.countdown-header:before,
.countdown-box.countdown-header .extra-line,
.countdown-box.countdown-header .extra-line:after {
    border-color: #7a0fff;
}

.countdown-box.countdown-header:after,
.countdown-box.countdown-header:before,
.countdown-box.countdown-header .extra-line {
    opacity: 0.4;
}

.theme-light .countdown-box.countdown-header:after,
.theme-light .countdown-box.countdown-header:before,
.theme-light .countdown-box.countdown-header .extra-line,
.section-light .countdown-box.countdown-header:after,
.section-light .countdown-box.countdown-header:before,
.section-light .countdown-box.countdown-header .extra-line {
    opacity: 0.1;
}

.roadmap-list:after {
    background: #7a0fff;
}

.single-roadmap:before {
    background-image: -webkit-linear-gradient(top, #46bdf4 0%, #7a0fff 100%);
    background-image: linear-gradient(top, #46bdf4 0%, #7a0fff 100%);
}

.single-roadmap:after {
    background: #46bdf4;
}

.single-roadmap h6 {
    color: #7a0fff;
}

.single-roadmap.roadmap-down:before {
    background-image: -webkit-linear-gradient(top, #7a0fff 0%, #46bdf4 100%);
    background-image: linear-gradient(top, #7a0fff 0%, #46bdf4 100%);
}

.single-roadmap.roadmap-done:after {
    border-color: #46bdf4;
}

.theme-light .single-roadmap:before {
    background-image: -webkit-linear-gradient(top, #2b56f5 0%, #7a0fff 100%);
    background-image: linear-gradient(top, #2b56f5 0%, #7a0fff 100%);
}

.theme-light .single-roadmap:after {
    background: #2b56f5;
}

.theme-light .single-roadmap.roadmap-done:after {
    border-color: #46bdf4;
}

.theme-light .single-roadmap.roadmap-down:before {
    background-image: -webkit-linear-gradient(top, #7a0fff 0%, #2b56f5 100%);
    background-image: linear-gradient(top, #7a0fff 0%, #2b56f5 100%);
}

.single-roadmap-alt:before {
    background-image: linear-gradient(to right, transparent 0%, #7a0fff 50%, #7a0fff 100%);
}

.single-roadmap-alt:after {
    border: 1px solid #7a0fff;
}

.single-roadmap-alt.sec-pri:before {
    background-image: linear-gradient(to right, #7a0fff 0%, #46bdf4 100%);
}

.single-roadmap-alt.sec-pri:after {
    border-color: #46bdf4;
}

.single-roadmap-alt.sec-pri h5:before,
.single-roadmap-alt.sec-pri h6:before {
    background: #46bdf4;
}

.single-roadmap-alt.pri-sec:before {
    background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%);
}

.single-roadmap-alt.pri-sec:after {
    border-color: #7a0fff;
}

.single-roadmap-alt.pri-sec h5:before,
.single-roadmap-alt.pri-sec h6:before {
    background: #7a0fff;
}

.single-roadmap-alt.sec-prialt:before {
    background-image: linear-gradient(to right, #7a0fff 0%, #2b56f5 100%);
}

.single-roadmap-alt.sec-prialt:after {
    border-color: #2b56f5;
}

.single-roadmap-alt.sec-prialt h5:before,
.single-roadmap-alt.sec-prialt h6:before {
    background: #2b56f5;
}

.single-roadmap-alt.prialt-pri:before {
    background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.single-roadmap-alt.prialt-pri:after {
    border-color: #46bdf4;
}

.single-roadmap-alt.prialt-pri h5:before,
.single-roadmap-alt.prialt-pri h6:before {
    background: #46bdf4;
}

.single-roadmap-alt.pri-last:before {
    background-image: linear-gradient(to left, transparent 0%, #46bdf4 50%, #46bdf4 100%);
}

.single-roadmap-alt h5:before,
.single-roadmap-alt h6:before {
    background: #7a0fff;
}

.team-member .team-photo:after {
    background-image: -webkit- linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
    background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.team-member .team-title {
    color: #46bdf4;
}

.team-member .team-social li a {
    color: #7a0fff;
}

.team-hex .team-info:before {
    background-image: -webkit- linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
    background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.team-hex .team-title {
    color: #7a0fff;
}

.team-described .team-title:after {
    background-image: -webkit- linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
    background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.team-described .team-social li a {
    color: #7a0fff;
}

.team-described .team-discription li:before,
.sidebar-widget.widget_categories ul li:before {
    background: #46bdf4;
}

.team-circle .team-photo:before {
    background-image: linear-gradient(to top, #2b56f5 0%, #46bdf4 100%);
}

.team-circle .team-title,
.theme-light .blog-meta li a,
.theme-light .blog-meta li {
    color: #7a0fff;
}

.skill-bar-percent {
    background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%);
}

.bg-team-exp.mfp-bg {
    background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%);
}

.contact-info li .fa {
    background-image: -webkit- linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
    background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.form-message .input-field .input-line,
.comment-form .input-field .input-line {
    border-bottom-color: #46bdf4;
}

.social li a:hover,
.page-pagination li a:hover:after,
.page-pagination li span:after,
.wpb-js-composer .vc_tta.vc_general.vc_tta-tabs-position-top .vc_tta-tabs-list:after,
.theme-light .blog-meta li:after {
    background: #7a0fff;
}

.theme-light .blog-meta li:after {
    opacity: 0.3;
}

.theme-light .search-form input[type="text"] {
    border-color: rgba(40, 56, 76, 0.6);
}

.theme-light .search-form button {
    background-color: rgba(40, 56, 76, 0.8);
}

.theme-light .search-form button:hover {
    background-color: rgba(40, 56, 76, 1);
}

.sidebar-widget.widget_tag_cloud ul li a,
.blog-tags li a {
    border-color: rgba(255, 255, 255, 0.4);
}

.theme-light .sidebar-widget.widget_tag_cloud ul li a,
.theme-light .blog-tags li a {
    border-color: rgba(40, 56, 76, 0.4);
}

.sidebar-widget.widget_tag_cloud ul li a:hover,
.post-content .blog-tags li a:hover {
    border-color: #46bdf4;
}

.blog-photo a:after {
    background: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%)
}

#loader {
    border-top-color: #46bdf4;
}

#loader:after {
    border-top-color: #2b56f5;
}

#loader:before {
    border-top-color: #7a0fff;
}

.io-azure .blog-meta li,
.io-azure .blog-meta li a,
.io-azure .page-pagination li a,
.switcher-top .wpml-ls-legacy-dropdown a:hover,
.slanguage .sub-menu li a:hover,
.btn.btn-simple .fa,
.btn.btn-simple .ti,
.section-pro .roadmap-list-alt .owl-prev .ti,
.section-pro .roadmap-list-alt .owl-next .ti,
.section-pro-alt .roadmap-list-alt .owl-prev .ti,
.section-pro-alt .roadmap-list-alt .owl-next .ti,
.section-pro .contact-info-alt li .fa {
    color: #46bdf4;
}

#back-to-top {
    background-color: #2b56f5;
}

#back-to-top:hover {
    background-color: #16a3fe;
}

.single-roadmap-alt.gradiant-ctob:before {
    background-image: linear-gradient(to right, #2b56f5 0%, #7a0fff 100%);
}

.single-roadmap-alt.gradiant-ctob:after {
    border-color: #7a0fff;
}

.single-roadmap-alt.gradiant-ctob h5:before,
.single-roadmap-alt.gradiant-ctob h6:before {
    background: #7a0fff;
}

.single-roadmap-alt.gradiant-btoa:before {
    background-image: linear-gradient(to right, #7a0fff 0%, #46bdf4 100%);
}

.single-roadmap-alt.gradiant-btoa:after {
    border-color: #46bdf4;
}

.single-roadmap-alt.gradiant-btoa h5:before,
.single-roadmap-alt.gradiant-btoa h6:before {
    background: #46bdf4;
}

.single-roadmap-alt.gradiant-atob:before {
    background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%);
}

.single-roadmap-alt.gradiant-atob:after {
    border-color: #7a0fff;
}

.single-roadmap-alt.gradiant-atob h5:before,
.single-roadmap-alt.gradiant-atob h6:before {
    background: #7a0fff;
}

.single-roadmap-alt.gradiant-btoc:before {
    background-image: linear-gradient(to right, #7a0fff 0%, #2b56f5 100%);
}

.single-roadmap-alt.gradiant-btoc:after {
    border-color: #2b56f5;
}

.single-roadmap-alt.gradiant-btoc h5:before,
.single-roadmap-alt.gradiant-btoc h6:before {
    background: #2b56f5;
}

.single-roadmap-alt.gradiant-ctoa:before {
    background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.single-roadmap-alt.gradiant-ctoa:after {
    border-color: #46bdf4;
}

.single-roadmap-alt.gradiant-ctoa h5:before,
.single-roadmap-alt.gradiant-ctoa h6:before {
    background: #46bdf4;
}

.single-roadmap-alt.gradiant-atoc:before {
    background-image: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%);
}

.single-roadmap-alt.gradiant-atoc:after {
    border-color: #2b56f5;
}

.single-roadmap-alt.gradiant-atoc h5:before,
.single-roadmap-alt.gradiant-atoc h6:before {
    background: #2b56f5;
}

.single-roadmap-alt h5:before,
.single-roadmap-alt h6:before {
    background: #7a0fff;
}

.contact-info-alt li .fa {
    background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%)
}

.token-status-percent {
    background: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%)
}

.io-azure .token-status-percent {
    background: #2b56f5;
}

.io-azure .comment-form .input-field label.input-title {
    color: #fff;
    opacity: .7;
}

.io-azure .section-pro .comment-form .input-field label.input-title {
    color: initial;
}

/*! END */