/*Lavender*/

.theme-lavendar{
  background: #fff;
  color: #3c3c3c;
}

.theme-lavendar h1, .theme-lavendar h2, .theme-lavendar h3, .theme-lavendar h4, .theme-lavendar h5, .theme-lavendar h6, .theme-lavendar .h1, .theme-lavendar .h2, .theme-lavendar .h3, .theme-lavendar .h4, .theme-lavendar .h5, .theme-lavendar .h6{ 
  color: #28384c; 
}

.theme-lavendar h1 {
  font-size: 2.6em;
}

.theme-lavendar h2 {
  font-size: 2.25em;
}

.theme-lavendar h3 {
  font-size: 2em;
}

.theme-lavendar h4 {
  font-size: 1.5em;
}

.theme-lavendar h5 {
  font-size: 1.19em;
}

.theme-lavendar h6 {
  font-size: .875em;
}

.theme-lavendar h2.page-heading{
  color: #fff;
}

.theme-lavendar .loader-section {
  background: #fcfcfc;
}

.theme-lavendar .btn,
.theme-lavendar .btn.btn-alt {
  background: #5d46e8;
}

.theme-lavendar .btn img {
  transform: translateY(50%);
}

.theme-lavendar .btn:hover {
  background: #ff9259;
}

.theme-lavendar .btn:before {
  display: none;
}

.theme-lavendar .btn.btn-lg {
  padding: 5px 40px;
  border-radius: 28px;
}

.theme-lavendar .btn.btn-plane {
  background: #8484a4;
}

.theme-lavendar .btn.btn-plane:hover {
  background: #5d46e8;
}

.token-box .btn.btn-simple {
  background: none;
  color: #8484a4;
  padding: 0 20px;
}

.theme-lavendar .btn.btn-simple .fa {
  color: #5d46e8;
  margin-right: 8px;
}

.theme-lavendar .navbar-btns .btn{
  background: #fff;
  color: #5d46e8;
}

.theme-lavendar .navbar-btns .btn:hover {
  background: #ff9259;
  color: #fff;
}

.theme-lavendar .btn:after {
  background: transparent;
}

.owl-carousel .owl-dot {
  height: 6px;
  width: 12px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 4px;
  opacity: 0.3;
  transition: all .4s ease;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dot.active {
  width: 20px;
  opacity: 0.8;
}

.theme-lavendar .site-header.has-fixed .navbar {
  background: #fff;
  box-shadow: 0 10px 40px rgba(93, 70, 232, 0.15);
}

.theme-lavendar .has-fixed ul.menu-top > li > a {
  color: #8484a4;
}

.theme-lavendar .site-header.has-fixed .navbar.is-transparent .navbar-brand .logo-dark {
  display: block;
}

.theme-lavendar .site-header.has-fixed .navbar.is-transparent .navbar-brand .logo-light {
  display: none;
}

.theme-lavendar .site-header.has-fixed .btn {
  background: #5d46e8;
  color: #fff;
}

.theme-lavendar .site-header.has-fixed .btn:hover {
  background: #ff9259;
}

.theme-lavendar .has-fixed .has-flag .wpml-ls-legacy-dropdown > ul > li > a {
  border-color: #5d46e8;
  color: #5d46e8;
}

.theme-lavendar .site-header .banner {
  min-height: auto !important;
}

.theme-lavendar .site-header .banner .banner-content {
  padding: 160px 0 70px;
}

.theme-lavendar .navbar .menu-top > li > a {
  margin: 0 15px;
}

.theme-lavendar .navbar-btns {
  margin: 0 -10px 0 40px;
}

.theme-lavendar .navbar-btns li {
  display: inline-block;
}

.theme-lavendar .navbar-btns .btn {
  min-width: auto;
}

.theme-lavendar .dropdown-toggle::after {
  display: inline-block;
  width: 10px;
  height: 38px;
  margin-left: .255em;
  font-family: 'themify';
  content: "\e64b";
  border: none;
  font-size: 10px;
  line-height: 38px;
  position: absolute;
  right: 0;
}

.theme-lavendar .navbar-toggler,
.theme-lavendar .navbar-toggler:hover {
  background: #40beff;
}

@media only screen and (max-width: 1199px) {
  .theme-lavendar .navbar .navbar-nav > li > a {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 575px) {
  .theme-lavendar {
    background: #fff;
  }

  .theme-lavendar h1 {
    font-size: 1.3em;
  }

  .theme-lavendar h2 {
    font-size: 1.25em;
  }

  .theme-lavendar h3 {
    font-size: 1.2em;
  }

  .theme-lavendar h4 {
    font-size: 1.5em;
  }

  .theme-lavendar h5 {
    font-size: 1.19em;
  }

  .theme-lavendar h6 {
    font-size: .875em;
  }

  .theme-lavendar .site-header .banner .banner-content {
    padding: 100px 0 20px;
  }
}

.dropdown-item {
  font-size: 12px;
}

.lang-switch {
  position: relative;
}

.lang-switch .dropdown-menu {
  left: 50%;
  transform: translateX(-50%);
  min-width: 100px;
}

.lang-switch .btn .ti {
  font-size: 10px;
  margin-left: 3px;
}

.lang-flag {
  width: 24px;
  border-radius: 0;
  margin: 3px 8px 3px 0;
}

.has-flag{
  margin-left: 28px;
  display: inline-block;
}

.has-flag .wpml-ls-legacy-dropdown > ul > .wpml-ls-item{
  margin-top: 5px;
  padding-bottom: 5px;
}

.has-flag .wpml-ls-legacy-dropdown > ul:after,
.has-flag .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after{
  display: none;
}

.has-flag .wpml-ls-legacy-dropdown > ul > li > a, 
.has-flag .wpml-ls-legacy-dropdown > ul > li > a:hover, 
.has-flag .wpml-ls-legacy-dropdown > ul > li > a:focus, 
.has-flag .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a{
  padding: 10px 23px;
  border: 1px solid;
  border-radius: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
}

.io-azure .has-flag .wpml-ls-legacy-dropdown > ul > li > a, 
.io-azure .has-flag .wpml-ls-legacy-dropdown > ul > li > a:hover, 
.io-azure .has-flag .wpml-ls-legacy-dropdown > ul > li > a:focus, 
.io-azure .has-flag .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a{
  border-radius: 5px;
  border-width: 2px;
  line-height: 13px;
  padding: 10px 20px;
}

.io-azure .has-flag .wpml-ls-legacy-dropdown .wpml-ls-sub-menu{
  background: #fff;
}

.has-flag .wpml-ls-legacy-dropdown .wpml-ls-sub-menu{
  width: 88%;
  left: 6.5%;
  background: #fff;
  text-align: left;
  border: 1px solid rgba(0,0,0,.15);
}

.has-flag .wpml-ls-legacy-dropdown .wpml-ls-sub-menu a,
.has-flag .wpml-ls-legacy-dropdown .wpml-ls-sub-menu a:hover{
  line-height: 1.2;
  color: #212529;
  padding: 5px 15px;
}

.has-flag .wpml-ls-legacy-dropdown .wpml-ls-sub-menu a:hover{
  background: #eee;
}

.has-flag .wpml-ls-legacy-dropdown .wpml-ls-sub-menu a img{
  margin-right: 2px;
}

.section {
  position: relative;
}

.section-bg-light, [class*=section-bg-light] {
  background: #fff;
  color: #8484a4;
}

.section-bg-light h1, .section-bg-light h2, .section-bg-light h3, .section-bg-light h4, .section-bg-light h5, .section-bg-light h6, [class*=section-bg-light] h1, [class*=section-bg-light] h2, [class*=section-bg-light] h3, [class*=section-bg-light] h4, [class*=section-bg-light] h5, [class*=section-bg-light] h6 {
  color: #38385f;
}

.text-light .small-heading, [class*=section-bg-light] .small-heading {
  text-transform: uppercase;
  letter-spacing: .2em;
  opacity: 0.5;
  color: #5d46e8;
}

.section-bg-lavendar {
  background: #5d46e8;
  color: #fff;
}

.section-bg-lavendar h1, .section-bg-lavendar h2, .section-bg-lavendar h3, .section-bg-lavendar h4, .section-bg-lavendar h5, .section-bg-lavendar h6, .section-bg-lavendar p {
  color: #fff;
}

.section-bg-lavendar .section-head-s3 .section-title:before {
  background: #ff9259;
}

.section-bg-light-alt {
  background: rgba(93, 70, 232, 0.04);
}

.section-head-s3 .section-title {
  font-weight: 400;
  position: relative;
  padding-top: 30px;
}

.section-head-s3 .section-title:before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 6px;
  width: 50px;
  border-radius: 3px;
  background: #5d46e8;
}

.section-head-s3 p {
  color: #38385f;
}

.warnning-badge {
  font-weight: 500;
  font-size: .7em;
  line-height: 20px;
  padding: 5px 20px;
  border-radius: 15px;
  background: #ff9259;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.shadow {
  box-shadow: 0 10px 40px rgba(93, 70, 232, 0.15);
}

.banner {
  position: relative;
}

.banner-rounded-bg {
  position: absolute;
  right: 390px;
  top: -750px;
  width: 120%;
  height: 1350px;
  z-index: 5;
  background: #5d46e8;
  border-radius: 0 0 250px 0;
  transform: rotate(-8deg) skew(10deg);
  transform-origin: top right;
  padding: 0 120px 110px 0;
  overflow: hidden;
}

.banner-shade-1, .banner-shade-2, .banner-shade-3 {
  display: block;
  height: 100%;
  width: 100%;
}

.banner-rounded-bg .banner-shade-1 {
  border-radius: 0 0 160px 0;
  background-image: linear-gradient(to top left, #fff 0%, transparent 30%, transparent 100%);
  opacity: .15;
  padding: 0 100px 90px 0;
  animation: swim 6s linear alternate infinite 0s;
}

.banner-rounded-bg .banner-shade-2 {
  border-radius: 0 0 110px 0;
  background-image: linear-gradient(to top left, #fff 0%, transparent 25%, transparent 100%);
  padding: 0 90px 80px 0;
  animation: swimalt 6s ease alternate infinite .1s;
}

.banner-rounded-bg .banner-shade-3 {
  border-radius: 0 0 80px 0;
  background-image: linear-gradient(to top left, #fff 0%, transparent 20%, transparent 100%);
  animation: swim 6s ease alternate infinite .2s;
}

@keyframes shade {
  0% {
    opacity: .15;
  }

  100% {
    opacity: .35;
  }
}

@keyframes shadeSoft {
  0% {
    opacity: .6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes swim {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(10px, 5px);
  }

  100% {
    transform: translate(5px, 10px);
  }
}

@keyframes swimalt {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(5px, -10px);
  }

  100% {
    transform: translate(-10px, 5px);
  }
}

@media only screen and (max-width: 991px) {
  .banner-rounded-bg {
    right: 0;
    top: -550px;
    border-radius: 0 0 0 0;
    transform: rotate(0) skew(0);
    padding: 0 180px 210px 0;
  }

  .banner-shade-1 {
    transform: rotate(-8deg) skew(10deg);
  }

  .theme-lavendar .dropdown-toggle::after {
    right: 40px;
  }

  .theme-lavendar .navbar-btns {
    margin: 0 0 30px 0;
  }
  .has-flag{
    margin-left: 0;
  }
}

@media only screen and (max-width: 575px) {
  .banner-rounded-bg {
    top: -700px;
  }

  .theme-lavendar .navbar-btns {
    margin: 0 0 30px 20px;
  }
}

.header-txt h1 span {
  font-weight: 300;
  color: #fff;
}

.token-box {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 45px;
  padding: 35px 50px 45px;
  color: #8484a4;
}

.token-box .small-text {
  font-weight: 300;
  font-size: 1em;
  color: #8484a4;
}

.token-box .icon-list {
  margin-top: 5px;
}

.token-box .icon-list li {
  display: inline-block;
  font-size: .85em;
  text-transform: uppercase;
  margin: 0 5px;
}

.token-box .icon-list li .fa,
.token-box .icon-list li .fab {
  font-size: 1.15em;
  color: #5d46e8;
}

.token-box .btn.btn-simple .fa{
  margin-right: 8px;
}

.token-box .token-countdown {
  padding-bottom: 33px;
}

.token-box .token-countdown .countdown-time {
  font-size: 55px;
  font-weight: 300;
  line-height: 1;
  display: block;
  margin-bottom: 5px;
  position: relative;
  color: #5d46e8;
}

.token-box .token-countdown .countdown-time:after {
  position: absolute;
  right: -20px;
  bottom: 5px;
  content: ":";
  color: #5d46e8;
  font-size: 40px;
}

.token-box .token-countdown .countdown-time.countdown-time-last:after {
  display: none;
}

.token-box .token-countdown .countdown-text {
  color: #8484a4;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  line-height: 1;
}

.token-details p{
  margin: 0;
}

.token-details ul{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.token-details li {
  color: #38385f;
  font-size: .8em;
  text-transform: uppercase;
}

.token-bar {
  position: relative;
  height: 36px;
  padding: 4px;
  width: 100%;
  border-radius: 18px;
  background: rgba(93, 70, 232, 0.1);
  margin-bottom: 75px;
}

.token-percent {
  height: 28px;
  border-radius: 14px;
  color: #fff;
  line-height: 28px;
  text-align: center;
  background: #5d46e8;
  position: relative;
  z-index: 2;
}

.token-point {
  position: absolute;
  font-size: .85em;
  transform: translateX(-50%);
  top: 0;
  padding-top: 60px;
}

.token-point:after {
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
  height: 50px;
  width: 2px;
  content: '';
  background: rgba(0, 0, 0, 0.2);
}

.token-point-1 {
  left: 25%;
}

.token-point-2 {
  left: 55%;
}

.token-point-3 {
  left: 75%;
}

@media only screen and (max-width: 1199px) {
  .btns li {
    margin: 10px 3px;
  }
}

@media only screen and (max-width: 575px) {
  .token-box {
    padding: 35px 15px 35px;
  }

  .token-box .token-countdown {
    padding-bottom: 20px;
  }

  .token-box .token-countdown .countdown-time {
    font-size: 18px;
  }

  .token-box .token-countdown .countdown-time:after {
    right: -20px;
    bottom: 2px;
    font-size: 16px;
  }

  .token-box .token-countdown .countdown-time.countdown-time-last:after {
    display: none;
  }

  .token-box .token-countdown .countdown-text {
    font-size: 9px;
  }

  .token-details li {
    font-size: .7em;
  }

  .token-bar {
    margin-bottom: 45px;
  }

  .token-percent {
    font-size: .8em;
  }

  .theme-lavendar .btns li {
    margin: 5px 3px;
    display: block;
  }
}

.roadmap-carousel {
  padding: 0 40px;
  position: relative;
}

.roadmap-carousel:before, .roadmap-carousel:after {
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  content: '';
  top: 42px;
  background: #c0b7f6;
}

.roadmap-carousel:before {
  left: 0;
}

.roadmap-carousel:after {
  right: 0;
}

.roadmap-carousel-container {
  position: relative;
}

.roadmap-carousel-container:before {
  position: absolute;
  height: 2px;
  width: 100%;
  content: '';
  left: 0;
  top: 47px;
  background: #c0b7f6;
}

.roadmap-item {
  text-align: center;
  position: relative;
  padding: 0 20px;
  margin-bottom: 30px;
}

.roadmap-item:after {
  position: absolute;
  top: 83px;
  left: 50%;
  content: '';
  transform: translateX(-50%);
  height: 60px;
  width: 2px;
  background: rgba(132, 132, 164, 0.3);
}

.roadmap-item h6 {
  text-transform: uppercase;
  color: #8484a4;
  position: relative;
  padding-bottom: 120px;
}

.roadmap-item h6:before, .roadmap-item h6:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  border-radius: 50%;
}

.roadmap-item h6:before {
  top: 33px;
  opacity: 0.3;
  height: 30px;
  width: 30px;
  background: #5d46e8;
}

.roadmap-item h6:after {
  top: 40px;
  background: #5d46e8;
  height: 16px;
  width: 16px;
}

.roadmap-done h6:before {
  opacity: 0.3;
  background: #40beff;
}

.roadmap-done h6:after {
  background: #40beff;
}

.about-section-innr {
  position: relative;
  z-index: 2;
  padding: 150px 40px 150px 0;
}

.about-section-innr:before {
  position: absolute;
  top: 0;
  left: -190px;
  width: 270px;
  height: 100%;
  content: '';
  z-index: -1;
  background: #5d46e8;
  border-radius: 100px 0 0 100px;
  transform: skew(9deg);
}

.about-section-innr:after {
  position: absolute;
  top: 0;
  right: -280px;
  width: 370px;
  height: 100%;
  content: '';
  z-index: -1;
  background: #5d46e8;
  border-radius: 0 100px 100px 0;
  transform: skew(-7deg);
}

.about-section-innr h3 span,
.about-section-innr h3 em {
  color: #fff;
  font-weight: 300;
  font-style: normal;
}

.about-section-innr h6 {
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 10px;
}

.about-shade {
  position: absolute;
  left: -120px;
  bottom: 65px;
  width: 100%;
  height: calc(100% - 130px);
  border-radius: 0 0 0 45px;
  background-image: linear-gradient(to top right, #fff 0%, transparent 50%, transparent 100%);
  opacity: .15;
  transform: skew(9deg);
}

.about-shade:after {
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: 0 0 0 45px;
  background-image: linear-gradient(to top right, #fff 0%, transparent 40%, transparent 100%);
}

.about-info {
  background: rgba(49, 31, 155, 0.4);
  border-radius: 5px;
  margin-top: 40px;
  padding: 20px 65px 20px 75px;
  position: relative;
}

.about-info .ti {
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 30px;
  color: #40beff;
  transform: translateY(-50%);
}

.about-image {
  position: relative;
  z-index: 99;
  margin-top: 150px;
  margin-right: -70px;
  padding: 40px 70px;
  background: #fff;
  border-radius: 60px 60px 60px 200px;
  box-shadow: 0 20px 60px rgba(93, 70, 232, 0.1);
}

@media only screen and (max-width: 991px) {
  .about-image {
    margin-right: 0;
    margin-top: -45px;
  }
}

@media only screen and (max-width: 575px) {
  .about-section-innr {
    padding: 50px 0 90px 0;
  }

  .about-image {
    border-radius: 30px 30px 30px 100px;
  }
}

.reason-item {
  padding: 30px 30px;
}

.reason-item img {
  width: 115px;
  margin: 0 auto 20px;
}

@media only screen and (max-width: 575px) {
  .reason-item {
    padding: 0;
  }
}

.process-scetion .slider-nav {
  display: flex;
}

.process-scetion .slider-nav-item {
  position: relative;
  height: 80px;
  width: 80px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  cursor: pointer;
  color: #5d46e8;
  box-shadow: 0 5px 25px rgba(93, 70, 232, 0.15);
  transition: all .4s ease;
  margin: 20px 20px;
}

.process-scetion .slider-nav-item:nth-child(2) {
  color: #40beff;
}

.process-scetion .slider-nav-item:nth-child(3) {
  color: #311f9b;
}

.process-scetion .slider-nav-item:nth-child(4) {
  color: #ff9259;
}

.process-scetion .slider-nav-item:nth-child(5) {
  color: #38385f;
}

.process-scetion .slider-nav-item:after {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 2px;
  content: '';
  width: 100%;
  background: url(../images/line.png) repeat 0 0;
  z-index: -1;
  animation: slide 1s linear infinite;
}

.process-scetion .slider-nav-item:last-child:after {
  display: none;
}

.process-scetion .slider-nav-item .ikon {
  font-size: 50px;
  line-height: 80px;
}

.process-scetion .slider-nav-item.active {
  cursor: default;
  color: #fff;
  background: #5d46e8;
}

.process-scetion .slider-nav-item.active:nth-child(2) {
  background: #40beff;
}

.process-scetion .slider-nav-item.active:nth-child(3) {
  background: #311f9b;
}

.process-scetion .slider-nav-item.active:nth-child(4) {
  background: #ff9259;
}

.process-scetion .slider-nav-item.active:nth-child(5) {
  background: #38385f;
}

.process-scetion .slider-nav-item.active:before {
  position: absolute;
  content: "";
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  border-radius: 50%;
  border: 1px solid rgba(132, 132, 164, 0.35);
  animation: 1.5s linear 0s normal none infinite focuse;
}

@keyframes focuse {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }

  75% {
    transform: scale(1.2);
    opacity: 0;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 40px 0;
  }
}

@media only screen and (max-width: 991px) {
  .process-scetion .slider-nav {
    margin-left: -20px;
    margin-bottom: 30px;
  }

  .process-scetion .slider-nav-item {
    height: 70px;
    width: 70px;
    margin: 0 15px;
  }

  .process-scetion .slider-nav-item .ikon {
    font-size: 40px;
    line-height: 70px;
  }
}

@media only screen and (max-width: 575px) {
  .process-scetion .slider-nav {
    margin-left: -10px;
    margin-bottom: 30px;
  }

  .process-scetion .slider-nav-item {
    height: 45px;
    width: 45px;
    margin: 0 5px;
  }

  .process-scetion .slider-nav-item .ikon {
    font-size: 20px;
    line-height: 45px;
  }
}

.theme-light .features-box p{
  color: #8284a5;
}

.features-photo {
  padding: 0 15px;
}

.features-photo img {
  border-radius: 0;
}

.features-item {
  position: relative;
  padding-left: 105px;
  margin-top: 50px;
  padding-bottom: 40px;
}

.features-item h5 {
  margin-bottom: 8px;
}

.features-item > em {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 30px;
  height: 65px;
  width: 65px;
  line-height: 65px;
  text-align: center;
  border-radius: 50%;
  background: #03045e;
  color: #fff;
  display: inline-block;
}

.features-item.left {
  padding-left: 0;
  padding-right: 105px;
  text-align: right;
}

.features-item.left > em {
  left: auto;
  right: 10px;
}

.shade-wraper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.shade-wraper .container {
  height: 100vh;
}

.shade-left, .shade-right {
  position: absolute;
  top: 160px;
  width: 50%;
  height: calc(100% - 130px);
  opacity: .15;
}

.shade-left:after, .shade-right:after {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 100%;
  content: '';
}

.shade-left {
  left: -80px;
  border-radius: 30px 0 0 0;
  background-image: linear-gradient(to bottom right, #fff 0%, transparent 40%, transparent 100%);
  transform: rotate(-12deg);
}

.shade-left:after {
  left: 40px;
  border-radius: 30px 0 0 0;
  background-image: linear-gradient(to bottom right, #fff 0%, transparent 35%, transparent 100%);
}

.shade-right {
  right: -80px;
  border-radius: 0 30px 0 0;
  background-image: linear-gradient(to bottom left, #fff 0%, transparent 40%, transparent 100%);
  transform: rotate(12deg);
}

.shade-right:after {
  right: 40px;
  border-radius: 0 30px 0 0;
  background-image: linear-gradient(to bottom left, #fff 0%, transparent 35%, transparent 100%);
}

@media only screen and (max-width: 1199px) {
  .features-item {
    margin-top: 0;
  }
}

.team-described {
  margin-bottom: 50px;
}

.team-described .team-photo {
  position: relative;
  width: 170px;
}

.team-described .team-photo img {
  border-radius: 5px;
}

.team-described .team-photo .expand-trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.team-described .team-title {
  color: #40beff;
  font-size: 13px;
  display: block;
  position: relative;
  padding-bottom: 13px;
}

.team-described .team-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 3px;
  width: 190px;
  z-index: 5;
  background-image: linear-gradient(to left, #5d46e8 0%, #40beff 100%);
}

.team-described .team-name {
  font-weight: 400;
  margin-bottom: 7px;
  max-width: 80px;
  text-transform: uppercase;
}

.team-described .team-info {
  width: 135px;
  margin-top: 40px;
  position: relative;
}

.team-described .team-social {
  margin-top: 12px;
}

.team-described .team-social li {
  display: inline-block;
  margin-right: 14px;
}

.team-described .team-social li a {
  color: #40beff;
}

.team-described .team-social li a:hover {
  color: #5d46e8;
}

.team-described .team-social li a .fa {
  font-size: 16px;
}

.team-described .team-discription {
  margin-left: 135px;
  margin-top: 18px;
}

.team-described .team-discription li {
  line-height: 1.6;
  font-size: 1em;
  position: relative;
  padding-left: 16px;
  margin-bottom: 8px;
}

.team-described .team-discription li:last-of-type {
  margin-bottom: 0;
}

.team-described .team-discription li:before {
  content: "";
  background: #40beff;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: 0;
}

@media only screen and (max-width: 991px) {
  .team-described .team-info {
    margin-top: 15px;
  }

  .team-described .team-photo {
    width: 145px;
  }
}

@media only screen and (max-width: 767px) {
  .team-described{
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
  .team-described .team-photo {
    width: auto;
  }
}

@media only screen and (max-width: 479px) {
  .team-described{
    width: auto;
  }
  .team-described .team-photo {
    width: auto;
  }
}

.section-bg-light .accordion .card {
  background-color: rgba(247, 246, 254, 0.5);
  border-bottom: 1px solid rgba(93, 70, 232, 0.1);
}

.section-bg-light .accordion .card .card-header a {
  color: #38385f;
}

.section-bg-light .accordion .card .card-header a.collapsed {
  color: #38385f;
  background-color: #f7f6fe;
}

.section-bg-light .accordion .card .card-header a:hover {
  opacity: 1;
}

.section-bg-light .accordion .plus-minus .ti {
  color: #5d46e8;
}

.media-box {
  text-align: center;
  border-radius: 10px;
  padding: 25px 30px 45px;
}

.media-box img {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.media-heading {
  margin: 15px 0 13px;
}

.media-heading a {
  color: #343459;
}

.media-heading a:hover {
  color: #5d46e8;
}

.testi-carousel.owl-carousel .owl-item {
  padding: 20px 0 40px;
}

.testi-carousel.owl-carousel .owl-stage-outer {
  margin: 0 -30px;
  margin-top: -20px;
  padding-left: 30px;
}

.active .media-box {
  box-shadow: 0 10px 40px rgba(93, 70, 232, 0.15);
}

.theme-lavendar .mc4wp-form{
  margin: 0;
}

.subscribe-rounded .input-round {
  width: 100%;
  line-height: 20px;
  color: #38385f;
  font-size: 1em;
  padding: 15px 30px;
  border-radius: 26px;
  outline: none;
  border: 1px solid rgba(93, 70, 232, 0);
  background: rgba(93, 70, 232, 0.07);
}

.subscribe-rounded input::-moz-placeholder {
  opacity: 1;
  color: #38385f;
}

.subscribe-rounded input:-ms-input-placeholder {
  opacity: 1;
  color: #38385f;
}

.subscribe-rounded input::-webkit-input-placeholder {
  opacity: 1;
  color: #38385f;
}

.subscription-form {
  position: relative;
}

.subscription-form input.error {
  border: 1px solid #ff0000;
}

.subscription-form input + .error {
  display: none !important;
}

.subscription-form .btn {
  position: absolute;
  top: 3px;
  right: 3px;
}

.theme-lavendar .footer-widget{
  color: #fff;
}

.theme-lavendar .footer-widget .mc4wp-form .input-round{ 
  background: rgba(255, 255, 255, 0.4); 
  border: none; 
  color: #28384c; 
}

.theme-lavendar .footer-widget .mc4wp-form .btn.btn-plane{
  background: #fff;
  color: #5d46e8;
}
.theme-lavendar .footer-widget .mc4wp-form .btn.btn-plane:hover{
  background: #ff9259;
  color: #fff;
}

.footer-lavendar{
  padding-bottom: 40px;
  background: #5d46e8;
  color: #fff;
}

.footer-lavendar .link-widget li a {
  color: #fff;
}

.footer-lavendar .link-widget li a:hover {
  box-shadow: 0 1px 0 #fff;
}

.footer-lavendar .copyright-text {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.6);
}

.footer-lavendar .copyright-text a {
  color: rgba(255, 255, 255, 0.6);
}

.footer-lavendar .copyright-text a:hover {
  color: #fff;
}

.footer-lavendar .footer-links {
  margin-top: 0;
}

.footer-lavendar .footer-links a {
  color: rgba(255, 255, 255, 0.6);
}

.social-overlap {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
}

.social-bar {
  display: flex;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 60px rgba(93, 70, 232, 0.15);
}

.social-bar li {
  text-align: center;
  text-transform: uppercase;
  color: #8484a4;
  flex-grow: 1;
  font-size: 14px;
  display: inline-block;
  line-height: 30px;
  border-right: 1px solid rgba(131, 131, 163, 0.15);
}

.social-bar li.sotitle {
  padding: 45px 0;
}

.social-bar li:last-child {
  border-right: none;
}

.social-bar li a {
  font-size: 20px;
  line-height: 30px;
  display: block;
  padding: 45px 0;
  color: #5d46e8;
}

.social-bar li a .fa {
  transition: all .5s ease;
}

.social-bar li a:hover .fa {
  transform: translateY(-8px);
}

.address-widget li {
  font-size: .9em;
  line-height: 2;
  margin-bottom: 10px;
}

.address-widget li:last-child {
  margin-bottom: 0;
}

.one-column li {
  padding-bottom: 7px;
  display: block;
  width: 100%;
}

.one-column li a {
  line-height: inherit;
}

.one-column li:last-child {
  padding-bottom: 0;
}

.hr-line {
  border: none;
  background: rgba(255, 255, 255, 0.15);
}

@media only screen and (max-width: 991px) {
  .event-info {
    width: auto;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 575px) {
  .social-bar li:first-child {
    display: none;
  }

  .social-bar li a {
    padding: 15px 0;
  }

  .subscription-form .btn {
    top: 6px;
    right: 6px;
  }
}

.animate-down, .animate-up {
  position: relative;
  opacity: 0;
  transition: all .4s;
}

.animate-down {
  top: -30px;
}

.animate-down-long {
  top: -120px;
}

.animate-up {
  bottom: -30px;
}

.animate-up-long {
  bottom: -120px;
}

.delay-1ms {
  transition-delay: 0.1s;
}

.delay-2ms {
  transition-delay: 0.2s;
}

.delay-3ms {
  transition-delay: 0.3s;
}

.delay-4ms {
  transition-delay: 0.4s;
}

.delay-5ms {
  transition-delay: 0.5s;
}

.delay-6ms {
  transition-delay: 0.6s;
}

.delay-7ms {
  transition-delay: 0.7s;
}

.delay-8ms {
  transition-delay: 0.8s;
}

.delay-9ms {
  transition-delay: 0.9s;
}

.delay-10ms {
  transition-delay: 1s;
}

.delay-11ms {
  transition-delay: 1.1s;
}

.delay-12ms {
  transition-delay: 1.2s;
}

.delay-13ms {
  transition-delay: 1.3s;
}

.delay-14ms {
  transition-delay: 1.4s;
}

.delay-15ms {
  transition-delay: 1.5s;
}

.delay-16ms {
  transition-delay: 1.6s;
}

.delay-17ms {
  transition-delay: 1.7s;
}

.delay-18ms {
  transition-delay: 1.8s;
}

.delay-19ms {
  transition-delay: 1.9s;
}

.delay-20ms {
  transition-delay: 2s;
}

.active .animate-down, .active .animate-up {
  opacity: 1;
}

.active .animate-down {
  top: 0;
}

.active .animate-up {
  bottom: 0;
}

.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6, .text-light{
  color: #fff;
}

.header-txt h1 em{
  font-weight: 300;
  font-style: normal;
}

.theme-lavendar p span{
  color: inherit;
}

/*Blog*/

.theme-lavendar .blog-section h1, .theme-lavendar .blog-section h2, .theme-lavendar .blog-section h3, .theme-lavendar .blog-section h4, .theme-lavendar .blog-section h5, .theme-lavendar .blog-section h6{
  font-weight: 500;
}

.theme-lavendar .page-banner { background: url(../images/header-overlay.png) 0 0 no-repeat, #5d46e8 no-repeat; background-size: 50%, cover; }

.theme-lavendar .blog-section { background: #fff; color: #28384c; }
.theme-lavendar .sidebar-widget ul li a{ color: #28384c; }
.theme-lavendar .sidebar-widget ul li a:hover { color: #5d46e8; }
.theme-lavendar .sidebar-widget ul li a { color: #28384c; }
.theme-lavendar .sidebar-widget.widget_tag_cloud ul li a { color: #28384c; }

.theme-lavendar .search-form input::-moz-placeholder { color: #373e45; }
.theme-lavendar .search-form input:-ms-input-placeholder { color: #373e45; }
.theme-lavendar .search-form input::-webkit-input-placeholder { color: #373e45; }
.theme-lavendar .search-form input[type="text"] { color: #373e45; }

.theme-lavendar .select2-dropdown{ background: #eee; }
.theme-lavendar .select2-container--default .select2-selection--single .select2-selection__rendered{ color: #28384c; }
.theme-lavendar .select2-container--default .select2-selection--single { background-color: rgba(170, 170, 170, 0.1); }
.theme-lavendar .select2-container--default .select2-results__option--highlighted[aria-selected]{ background-color: rgba(170, 170, 170); }
.theme-lavendar .select2-container--default .select2-results__option[aria-selected=true]{ background-color: rgba(170, 170, 170, 0.3); }

.theme-lavendar .blog-content p { color: #8284a5; }
.theme-lavendar .blog-texts { background: #eff6ff; }
.theme-lavendar .blog-texts p { color: #28384c; }
.theme-lavendar .blog-title a { color: #28384c; }
.theme-lavendar .blog-meta li:after { opacity: 0.4; }
.theme-lavendar .blog-tags li a { color: #28384c; }
.theme-lavendar .page-pagination li a{ color: #28384c; }
.theme-lavendar .page-pagination li a:hover{ color: #fff; }
.theme-lavendar .page-pagination li a:after { background: #eff6ff; }

.theme-lavendar .comment-form .input-field label.input-title{ color: #8284a5; }
.theme-lavendar .comment-form .input-field .input-line{ color: #3c3c3c; }

.theme-lavendar .cta-widget .btn.btn-alt{ background: #fff; }
.theme-lavendar .cta-widget .btn.btn-plane:hover{ background: #000; }

.theme-lavendar .comment-item, .section-light .comment-item, .section-light-alt .comment-item {
  background: #eff6ff;
}

.theme-lavendar .comment-item > div, .section-light .comment-item > div, .section-light-alt .comment-item > div {
  border-bottom-color: #e5f0ff;
}

.theme-lavendar .comment-reply, .section-light .comment-reply, .section-light-alt .comment-reply {
  color: #28384c;
}

.theme-lavendar .comment-reply .fa, .section-light .comment-reply .fa, .section-light-alt .comment-reply .fa {
  color: #41faa4;
}

.theme-lavendar .comment-reply:hover, .section-light .comment-reply:hover, .section-light-alt .comment-reply:hover {
  color: #41faa4;
}

.theme-lavendar .comment-item {
  background: #eff6ff;
}

.theme-lavendar .comment-item > div {
  border-bottom-color: #e5f0ff;
}

.theme-lavendar .ml-auto a {
  color: #28384c;
}

.wpb-js-composer.theme-lavendar div.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs-position-top.tab-custom-s2 .vc_tta-tab>a{
  opacity: 1;
  color: #637097;
}