<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Hooligan Coin	</title>
	<atom:link href="https://hooligancoins.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://hooligancoins.com</link>
	<description>The proprietary, hyper-deflationary token that will rock your world</description>
	<lastBuildDate>Thu, 10 Jun 2021 13:40:33 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.7.2</generator>
	<item>
		<title>
		Comment on Hello world! by A WordPress Commenter		</title>
		<link>https://hooligancoins.com/hello-world/#comment-1</link>

		<dc:creator><![CDATA[A WordPress Commenter]]></dc:creator>
		<pubDate>Thu, 10 Jun 2021 13:40:33 +0000</pubDate>
		<guid isPermaLink="false">http://box5440/cgi/addon_GT.cgi?s=GT::WP::Install::EIG+%28hooligb8%29+-+10.0.87.67+%5BWordpress%3b+/var/hp/common/lib/Wordpress.pm%3b+375%3b+Hosting::gap_call%5D/?p=1#comment-1</guid>

					<description><![CDATA[Hi, this is a comment.
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.
Commenter avatars come from &lt;a href=&quot;https://gravatar.com&quot;&gt;Gravatar&lt;/a&gt;.]]></description>
			<content:encoded><![CDATA[<p>Hi, this is a comment.<br />
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.<br />
Commenter avatars come from <a href="https://gravatar.com">Gravatar</a>.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on The Intersection Where Blockchain Meets Energy by Admin		</title>
		<link>https://hooligancoins.com/the-intersection-where-blockchain-meets-energy/#comment-5</link>

		<dc:creator><![CDATA[Admin]]></dc:creator>
		<pubDate>Wed, 28 Mar 2018 08:34:36 +0000</pubDate>
		<guid isPermaLink="false">http://wpdemo.oceanthemes.net/icos/?p=329#comment-5</guid>

					<description><![CDATA[Blockchain Meets Energy Surplus of electrical energy is sometimes ut perspiciatis unde omnis iste naat vero eos et accusamus]]></description>
			<content:encoded><![CDATA[<p>Blockchain Meets Energy Surplus of electrical energy is sometimes ut perspiciatis unde omnis iste naat vero eos et accusamus</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on The Intersection Where Blockchain Meets Energy by Admin		</title>
		<link>https://hooligancoins.com/the-intersection-where-blockchain-meets-energy/#comment-4</link>

		<dc:creator><![CDATA[Admin]]></dc:creator>
		<pubDate>Wed, 28 Mar 2018 08:34:21 +0000</pubDate>
		<guid isPermaLink="false">http://wpdemo.oceanthemes.net/icos/?p=329#comment-4</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;https://hooligancoins.com/the-intersection-where-blockchain-meets-energy/#comment-3&quot;&gt;Admin&lt;/a&gt;.

Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="https://hooligancoins.com/the-intersection-where-blockchain-meets-energy/#comment-3">Admin</a>.</p>
<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on The Intersection Where Blockchain Meets Energy by Admin		</title>
		<link>https://hooligancoins.com/the-intersection-where-blockchain-meets-energy/#comment-3</link>

		<dc:creator><![CDATA[Admin]]></dc:creator>
		<pubDate>Wed, 28 Mar 2018 08:34:01 +0000</pubDate>
		<guid isPermaLink="false">http://wpdemo.oceanthemes.net/icos/?p=329#comment-3</guid>

					<description><![CDATA[Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.]]></description>
			<content:encoded><![CDATA[<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Hello world! by A WordPress Commenter		</title>
		<link>https://hooligancoins.com/hello-world-2/#comment-2</link>

		<dc:creator><![CDATA[A WordPress Commenter]]></dc:creator>
		<pubDate>Thu, 15 Mar 2018 09:08:41 +0000</pubDate>
		<guid isPermaLink="false">http://wpdemo.oceanthemes.net/icos/?p=1#comment-2</guid>

					<description><![CDATA[Hi, this is a comment.
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.
Commenter avatars come from &lt;a href=\&quot;https://gravatar.com\&quot; rel=\&quot;nofollow ugc\&quot;&gt;Gravatar&lt;/a&gt;.]]></description>
			<content:encoded><![CDATA[<p>Hi, this is a comment.<br />
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.<br />
Commenter avatars come from <a href=\"https://gravatar.com\" rel=\"nofollow ugc\">Gravatar</a>.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
